---
import "../styles/global.css";
---

<div
  class="h-screen w-full bg-linear-to-b from-[#0E131B] to-[#0B0B0B] flex flex-col items-center justify-center"
>
  <div class="h-screen w-screen">fj</div>
  <button id="login" class="text-2xl text-white">Login with Google</button>
</div>
<script>
  import { createAuthClient } from "better-auth/client";
  const authClient = createAuthClient();
  document.getElementById("login")?.addEventListener("click", async () => {
    await authClient.signIn.social({ provider: "google" });
  });
</script>
